<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="SBRobot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.051351 -5.9517E-05 0.030448"
        rpy="0 0 0" />
      <mass
        value="0.26472" />
      <inertia
        ixx="0.00026506"
        ixy="5.9012E-08"
        ixz="3.5718E-09"
        iyy="0.00013752"
        iyz="-2.6734E-08"
        izz="0.00038317" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SBRobot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SBRobot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L_Link">
    <inertial>
      <origin
        xyz="-0.0027172 -0.01577 -0.0023613"
        rpy="0 0 0" />
      <mass
        value="0.030141" />
      <inertia
        ixx="1.2309E-05"
        ixy="6.7734E-11"
        ixz="2.5319E-10"
        iyy="2.0381E-05"
        iyz="5.8879E-11"
        izz="1.2309E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SBRobot/meshes/L_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SBRobot/meshes/L_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_joint"
    type="revolute">
    <origin
      xyz="-0.046937 -0.06915 -0.011449"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="L_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SBRobot/meshes/R_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SBRobot/meshes/R_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_joint"
    type="revolute">
    <origin
      xyz="-0.046937 0.06915 -0.016171"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="R_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>